<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.packetworld">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_round"
        android:roundIcon="@mipmap/ic_logo"
        android:label="PacketWorld"
        android:theme="@style/Theme.PacketWorld">
        <activity
            android:name=".EdicionUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".EditarPerfilActivity"
            android:exported="false" />
        <activity
            android:name=".PerfilUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".ActualizarEstatusEnvioActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleEnvioActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>